
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: #fff;
    font-family: "open-sans","Lucida Sans","Lucida Grande", sans-serif!important;
}

.navbar-custom {
    color: #FFF;
    background: linear-gradient(to bottom, #00aadf 0%,#0d98c7 98%);
}
#app > nav > div > div.navbar-header > a,#app-navbar-collapse > ul.nav.navbar-nav.navbar-right > li > a {
    color: #fff;
}

.navbar-nav > li > a {
    color: #fff !important;
}
.container {
    width: 90%;
    margin: auto;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#app {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}
#header {
    width: 100%;
    padding: 0;
}