
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// $icon-font-path: '../static/fonts/bootstrap/';

@function font-path($path) {
  @return $path;
}


// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
@import "node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf";
*/
body {
    background-color: #fff;
    font-family: "open-sans","Lucida Sans","Lucida Grande", sans-serif!important;
}
/*
.navbar-custom {
    color: #FFF;
    background: linear-gradient(to bottom, #00aadf 0%,#0d98c7 98%);
}
#header > nav > div > div.navbar-header > a {
    color: #fff;
}

.navbar-nav > li > a {
    color: #fff !important;
}
*/
/*$bgDefault      : #00aadf;
$bgHighlight    : #3697ce;
$colDefault     : #fff;
$colHover       : #e0e0e0;
*/
/* --- Style --- */
/*
.navbar-default {
    background: linear-gradient(to bottom, #00aadf 0%,#0d98c7 98%);
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}


.container {
    width: 90%;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

#content-container {
    max-width: 1000px;
}

#header-container {
    max-width: 1000px;
}

html,
body {
  height: 100%;

}
*/
/* Wrapper for page content to push down footer */

//#app {
//  min-height: 100%;
//  height: auto;
  /* Negative indent footer by its height */
//  margin: 0 auto -60px;
  /* Pad bottom by footer height */
//  padding: 0 0 60px;
//}

/* Set the fixed height of the footer here */
//#footer {
//  height: 60px;
//}
//#header {
//    width: 100%;
//    padding: 0;
//}
.alert {
  display:block;
  position: fixed;
  left:40%;
  top:10%;
  opacity:0.0;
  width:240px;
  text-align: center;
  z-index: 999999;
}
#loading {
  position: fixed;
  left: 50%;
  top: 50%;
}
#mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: gray;
  opacity: 0.5;
  #mask-content {
    overflow:hidden;
    position:relative;

    #mask-left {
      width: 15%;
      height: 100%;
      float: left;
    }
    #mask-middle {
      width: 70%;
      height: 100%;
      text-align: center;
      float: left;
      vertical-align: middle;
    }
    #mask-right {
      width: 15%;
      height: 100%;
      float: right;
    }
  }
}

.icon {
  font-size: 15px;
}
.icon-warn {
  color: red;
}

.upic {
  width:86%;
  margin:10% 7% 7% 10%;
  background: #f6f7fa;
  border: 1px solid #cacfda;
  padding:0px;
  text-align:center;
}

.upic img{
  margin: 7% 0px -3px 0px;
  padding:0px;
  width: 80%;
}

.uinfo {
  margin:20px 0px 0px 0px;
}

#user_profile dt {
  font-weight:600;
  color: #002a54;
  margin-bottom: 0px;
  display:inline-block;
}

#user_profile dd {
  margin-left: 7px;
  margin-bottom: 17px;
  color: #768297;
  font-weight: 300;
  display:inline-block;
}

#qlink{
  width:100%;
  text-align:right;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 3px;
}

#qlink a, .grey-links a{
  font-size: 12px;
  font-weight: normal;
  color:#a4a4a4;
  text-decoration:none;
}

#qlink a:hover, .grey-links a:hover{
  color:#0d98c7;
}

#qlink img {
  width:20px;
  margin-right: 2px;
  margin-bottom: 4px;
}

#no-image {
  max-width: 100%;
  border: 1px solid #cacfda;
}


.search-input{
    height: 45px;
    width: 600px;
    margin: 0px auto;
    margin-top: 10px;
    position: relative;

}
.search-input input{
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    width: 500px;
    height: 45px;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;

}
.search-btn{
    height: 45px;
    width: 100px;
    border: 1px solid mediumseagreen;
    background-color: mediumseagreen;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.search-select{position: absolute;top: 45px;width: 500px;box-sizing: border-box;z-index: 999;}
.search-select li{border: 1px solid #d4d4d4;;border-top: none;border-bottom: none;background-color: #fff;width: 100%}
.search-select-option{box-sizing: border-box;padding: 7px 10px;}
.selectback{background-color: #eee !important;cursor: pointer}
input::-ms-clear{display: none}
.search-reset{width: 21px;height: 21px;position: absolute;display: block;line-height: 21px;text-align: center;cursor: pointer;font-size: 20px;right: 110px;top: 12px}
.search-select-list{transition: all 0.5s}
.itemfade-enter,.itemfade-leave-active{
    opacity: 0;
}
.itemfade-leave-active{
    position: absolute;
}

.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
.ui.vertical.stripe h3 {
        font-size: 2em;
      }
      .secondary.pointing.menu .toc.item {
        display: none;
      }
      .vuetable {
        margin-top: 1em !important;
      }
      .table {
        margin-top: 1em !important;
      }
      .vuetable-wrapper.ui.basic.segment {
        padding: 0em;
      }
      .vuetable button.ui.button {
        padding: .5em .5em;
        font-weight: 400;
      }
      .vuetable button.ui.button i.icon {
        margin: 0;
      }
      .vuetable td i.handle-icon:hover {
        cursor: pointer;
      }
      .vuetable-actions {
        width: 15%;
        padding: 12px 0px;
        text-align: center;
      }
      .vuetable-pagination {
        background: #f9fafb !important;
      }
      .vuetable-pagination-info {
        margin-top: auto;
        margin-bottom: auto;
      }
      .highlight {
        background-color: yellow;
      }
      .vuetable-detail-row {
        height: 200px;
      }
      .detail-row {
        margin-left: 40px;
      }
      .expand-transition {
        transition: all .5s ease;
      }
      .expand-enter, .expand-leave {
        height: 0;
        opacity: 0;
      }
      tr.odd {
        background-color: #e6f5ff;
      }
      body {
        overflow-y: scroll;
      }
